<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Office Employee Management System</title>
  <style>
    .button-group a{
        margin-right: 10px; /* Adjust this value to control the spacing */
    }
</style>
</head>
<body>

    <div class="container">
        <h1>Office Employee Management System</h1>
        <form action="/view_all_emp">
            <button type="submit" class="btn btn-primary mb-2">View all Employee</button>
        </form>
        <form action="/add_emp">
            <button type="submit" class="btn btn-primary mb-2">Add an Employee</button>
        </form>
        <form action="/remove_emp">
            <button type="submit" class="btn btn-primary mb-2">Remove an Employee</button>
        </form>
        <form action="/filter_emp">
            <button type="submit" class="btn btn-primary mb-2">Filter Employee details</button>
        </form>
    </div>


</body>
</html>

